/* 
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif, helvatica, arial;
}
.logo{
  width: 100px;
  height: 100px;
}
.logo1{
  width: 100px;
  margin-left:50px;
}
.card-input{
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding:24px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.username{
  font-size:1.4rem;
  border-radius:9px  gray;
  height:1.9rem;
  
  
}
.passkey{
  font-size: 1.4rem;
  border-radius: 9px gray;
  height: 1.9rem;
}
.btn{
  background-color:#0a66c2;
  color:white;
  border-radius:9px;
  height: 35px;
  font-size:1rem;
}
.text{
  margin-top:10px;
  color:#0a66c2;
  
}
.text:hover{
  text-decoration:underline;
}
.txt{
  margin-top: -22px;
}
.line{
  background-color:#fff;
  color:#d2d3d4;
  height:50px;
  border-top:0.5px solid #d2d3d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr.new1{
  border-top:0.5px solid#d2d3d4;
  width:11rem
}
.btn1{
  background-color: #fff;
  font-size:1rem;
  height:auto;
  margin:10px;
  border-radius: 15px;
}
 */
