.feed{
    flex: 0.6;
    margin: 0px 20px;
    top: 80px;
}

.feed__inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input{
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    border: 1px solid lightgray;
}

.feed__input form{
    display: flex;
    width: 100%;

}

.feed__input form input{
    border: none;
    flex: 1;
    margin: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input form button{
    display: none;
}


