.header{
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0px;
    width: 100%;
    z-index: 999;

}

.header__left{
    display: flex;

}
 .header__left img{
    object-fit: contain;
    height: 40px;

 }

.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;

}

.header__search input{
    outline: none;
    border: none;
    background: none;
}

.header__left img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}


.header__right{
    display: flex;
}