.post{
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}



.postHeader{
    display: flex;
    padding: 20px;
}



.postInfo{
    font-size: 12px;
    padding: 0px 10px;
}
.postInfo p{
    color: gray;
}

.postBody{
    overflow-wrap: anywhere;
    padding: 5px 25px;
}

.postButtons{
    display: flex;
    padding: 0px 20px;
    justify-content: flex-end;
}